@page "/scanFiles"
@inherits BasePage
@attribute [Public]
@layout PublicLayout

<h3>掃描新添加文件</h3>

<div class="row g-3">
    <div class="col-4 col-sm-12" @ondblclick="DoubleClick"><Button OnClick="@ButtonClick" Color="Color.Primary">掃描</Button></div>
</div>


