@page "/"
@inherits BasePage
@attribute [Public]


@if (!string.IsNullOrEmpty(ParentFolderPath))
{
    <div @ondblclick="()=>ReturnParentFolder()">
        <i class="fa-solid fa-turn-up"></i>
    </div>
}

@foreach (var folder in MediaFolderList)
{
    <div class="card " style="max-width: 400px;" @ondblclick="()=>EnterSubFolder(folder)">
        <div class="row g-0">
            <div class="col-md-4">
                <i class="fa-solid fa-folder"></i>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text">@folder.FolderName</p>
                </div>
            </div>
        </div>
    </div>
}

@foreach (var mp4 in MediaFileMP4List)
{
    <video controls width="250">
        <source src="@mp4.StaticWebPath" type="@mp4.MineType" />
    </video>
}


@foreach (var mp3 in MediaFileMP3List)
{
    <audio controls>
        <source src="@mp3.StaticWebPath">
    </audio>
}

@code {

    private List<PublicMediaFile> MediaFileMP3List { get; set; } = new();

    private List<PublicMediaFile> MediaFileMP4List { get; set; } = new();

    private List<PublicMediaFolder> MediaFolderList { get; set; } = new();

    private string ParentFolderPath { get; set; }

    private string CurrentFolderPath { get; set; }

    private System.Collections.Generic.Stack<string> PathStack { get; set; }

    private PublicMediaScanVM MediaScanVM { get; set; }

    private string Name{ get; set; }
    private string Path { get; set; }

    protected override Task OnInitializedAsync()
    {
        PathStack = new();

        MediaScanVM = new();
        MediaScanVM.ScanFolders(SiteConfigInfoService.MediaRootPath);
        MediaScanVM.ScanFiles(SiteConfigInfoService.MediaRootPath);

        MediaFolderList = MediaScanVM.MediaFolderList;
        MediaFileMP4List = MediaScanVM.MediaFileMP4List;
        MediaFileMP3List = MediaScanVM.MediaFileMP3List;

        return base.OnInitializedAsync();
    }

    private void EnterSubFolder(PublicMediaFolder folder)
    {
        MediaScanVM.ScanFolders(folder.FullPath);
        MediaScanVM.ScanFiles(folder.FullPath);

        MediaFolderList = MediaScanVM.MediaFolderList;
        MediaFileMP4List = MediaScanVM.MediaFileMP4List;
        MediaFileMP3List = MediaScanVM.MediaFileMP3List;

        ParentFolderPath = folder.ParentPath;
        PathStack.Push(folder.ParentPath);
    }

    private void ReturnParentFolder()
    {
        if (PathStack.Count > 0)
        {
            ParentFolderPath = PathStack.Pop();

            MediaScanVM.ScanFolders(ParentFolderPath);
            MediaScanVM.ScanFiles(ParentFolderPath);

            MediaFolderList = MediaScanVM.MediaFolderList;
            MediaFileMP4List = MediaScanVM.MediaFileMP4List;
            MediaFileMP3List = MediaScanVM.MediaFileMP3List;
        }
        else
        {
            ParentFolderPath = null;
            return;
        }


        if (!string.IsNullOrEmpty(ParentFolderPath))
        {
            string root = SiteConfigInfoService.MediaRootPath.Trim().TrimEnd('\\').ToLower();
            string parent = ParentFolderPath?.Trim()?.TrimEnd('\\')?.ToLower();

            if (root == parent)
            {
                ParentFolderPath = null;

                if (PathStack.Count > 0)
                {
                    PathStack.Clear();
                    return;
                }
            }
        }
    }

  
}
