@inherits LayoutComponentBase

<Layout ShowFooter="false">
   @*  <Header>
        <div class="text-center header">Header</div>
    </Header> *@
    <Main>
        <div class="public-layout-main">@Body</div>
    </Main>
   @*  <Footer>
        <div class="text-center footer">Footer</div>
    </Footer> *@
</Layout>
