
.header-right .menu[b-hi836e2tpo] {
    border: none;
}

.header-right .dropdown-menu a[b-hi836e2tpo] {
    text-align: left;
}

    .header-right .nav-item .nav-link:hover[b-hi836e2tpo] {
        color: black;
    }
